<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://notewebapplication20221209144748.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/b780f459-38f4-42ba-88b0-f8a33f954075/resourcegroups/CSharpProject/providers/Microsoft.ContainerRegistry/registries/NoteWebApplication20221209145016</ContainerResourceId>
    <ContainerResourceName>NoteWebApplication20221209145016</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>notewebapplication20221209145016.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b780f459-38f4-42ba-88b0-f8a33f954075/resourcegroups/CSharpProject/providers/Microsoft.Web/sites/NoteWebApplication20221209144748</ResourceId>
    <ResourceGroup>CSharpProject</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://notewebapplication20221209144748.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0bf2585f-c48f-4c52-b168-e241240ce4b6</ProjectGuid>
  </PropertyGroup>
</Project>